/* Margin */
.margin
{
    margin-top: 32px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    margin-bottom: 32px !important;
}

.margin-vertical
{
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.margin-horizontal
{
    margin-left: 32px !important;
    margin-right: 32px !important;
}

.margin-top { margin-top: 32px !important; }
.margin-left { margin-left: 32px !important; }
.margin-right { margin-right: 32px !important; }
.margin-bottom { margin-bottom: 32px !important; }

/* Unmargin */
.unmargin
{
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.unmargin-vertical
{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.unmargin-horizontal
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.unmargin-top { margin-top: 0 !important; }
.unmargin-left { margin-left: 0 !important; }
.unmargin-right { margin-right: 0 !important; }
.unmargin-bottom { margin-bottom: 0 !important; }