.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th
{
    border: none;
}

.top-borderless * { border-top: none !important; }
.left-borderless * { border-left: none !important; }
.right-borderless * { border-right: none !important; }
.bottom-borderless * { border-bottom: none !important; }