/* Pad */
.pad
{
    padding-top: 16px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
}

.pad-vertical
{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.pad-horizontal
{
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.pad-top { padding-top: 16px !important; }
.pad-left { padding-left: 16px !important; }
.pad-right { padding-right: 16px !important; }
.pad-bottom { padding-bottom: 16px !important; }

/* Unpad */
.unpad
{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.unpad-vertical
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.unpad-horizontal
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.unpad-top { padding-top: 0 !important; }
.unpad-left { padding-left: 0 !important; }
.unpad-right { padding-right: 0 !important; }
.unpad-bottom { padding-bottom: 0 !important; }